src/TestClient/ServicesClient/Service References/PuzzleUService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PuzzleUServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PuzzleUServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserData" nillable="true" type="tns:UserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserData" nillable="true" type="tns:ArrayOfUserData" />
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="ArrayOfAlbumData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlbumData" nillable="true" type="tns:AlbumData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbumData" nillable="true" type="tns:ArrayOfAlbumData" />
  <xs:complexType name="AlbumData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlbumData" nillable="true" type="tns:AlbumData" />
  <xs:complexType name="ImageFileData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageStream" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageFileData" nillable="true" type="tns:ImageFileData" />
</xs:schema>